.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 60px);
  &_header {
    height: 60px;
    display: flex;
    flex: 0 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    @extend .elevation;
    justify-content: space-between;
    background-color: var(--background);
    &_buttons {
      &,
      .order {
        gap: 20px;
        display: flex;
        align-items: center;
        &--active {
          color: red;
        }
      }
    }
  }
  &_content {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    position: relative;
    overflow-x: hidden;
    background-color: var(--background);
    .el-row {
      max-width: 1200px;
      margin: 0 auto !important;
      gap: 20px 0px;
    }
    .el-empty {
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      background-color: var(--gray-light);
    }
    .el-empty__description {
      display: none;
    }
    .empty {
      font-size: 14px;
      color: var(--gray-text);
    }
  }
  &_footer {
    height: 60px;
    display: flex;
    flex: 0 0 auto;
    padding: 0 30px;
    font-size: 12px;
    @extend .elevation;
    align-items: center;
    color: var(--purple-light);
    justify-content: space-between;
    background-color: var(--background);
    border-top: 1px solid rgba(gray, 0.3);
  }
}

.header {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--purple-light);
  &_search {
    input {
      border: none;
      width: 400px;
      border-radius: 5px;
      color: var(--white);
      columns: var(--white);
      background-color: var(--purple-dark);
    }
  }
  &_account {
    display: flex;
    font-size: 17px;
    color: var(--white);
    align-items: center;
    text-transform: capitalize;
    &_icon {
      margin-left: 10px;
      display: flex;
      border-radius: 100%;
      width: 20px; height: 20px;
      background-color: var(--white);
      i {
        margin: auto;
      }
      svg {
        color: var(--purple-dark);
      }
    }
  }
}

.aside {
  height: 100%;
  display: flex;
  margin-top: 7px;
  padding-top: 40px;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  border-right: 1px solid rgba(gray, 0.5);
  &_button {
    border: none;
    width: 250px;
    font-size: 12px;
    color: var(--white);
    border-radius: 100px;
    background-color: var(--blue-light);
    @extend .elevation;
    .el-icon {
      width: 25px;
    }
  }
  &_filters {
    gap: 20px 0;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: flex-start;
    .el-checkbox {
      width: 100%;
    }
    label {
      position: relative;
      &::before {
        content: "";
        width: 150%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        border-bottom: 1px solid rgba(gray, 0.5);
      }
    }
  }
}

.file {
  $ctx: &;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  @extend .transition;
  border: 1px solid rgba(gray, 0.2);
  background-color: var(--file-background);
  &:hover {
    transform: translate(0px, -2px);
    @extend .elevation;
  }
  &_header {
    display: flex;
    align-items: center;
    height: 80px;
    h3 {
      margin: 0;
    }
  }
  &_icon {
    width: 40px;
    height: 40px;
    padding: 10px;
    position: relative;
    border-radius: 100%;
    margin: 0 15px 0 10px;
    border: 1px solid gray;
    .el-icon {
      font-size: 20px;
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
  &_image {
    height: 200px;
  }
  &_description {
    padding: 20px 20px 0 20px;
    color: var(--gray-text);
    p {
      margin: 0;
      font-size: 14px;
    }
  }
  &_buttons {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
  }
  &_body {
    display: flex;
    flex-direction: column;
  }
  &_checkbox {
    width: 100px;
    display: flex;
    position: absolute;
    align-items: center;
    right: 0px;
    top: 20px;
    justify-content: center;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--row {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    #{$ctx}_image {
      display: none;
    }
    #{$ctx}_buttons {
      border-left: 1px solid black;
    }
    #{$ctx}_body {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
    #{$ctx}_checkbox {
      position: relative;
      top: unset;
      right: unset;
      border-right: 1px solid black;
    }
  }
}

.upload-modal {
  .el-dialog {
    width: 40%;
  }
  &_file {
    margin-top: 30px;
  }
  h3 {
    margin-top: 0;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    color: var(--black-text);
  }
  &_indication {
    padding: 15px;
    margin: 20px 0;
    cursor: pointer;
    color: var(--black-text);
    background-color: var(--gray-light);
  }
  &_input {
  }
  &_footer {
    display: flex;
    justify-content: space-between;
  }
}

.login {
  height: 100vh;
  .el-form-item__label {
    margin-bottom: -10px;
  }
  * + .el-form-item {
    margin-top: 30px;
  }
  &_footer {
    display: flex;
    align-items: center;
    padding: 20px 20px 0px 20px;
    justify-content: space-between;
  }
  &_text {
    margin-top: 20px;
  }
  .form {
    padding: 20px;
    margin-top: 10px;
    &_container {
      width: 500px;
      max-width: 90vw;
      max-height: 90vh;
      padding-top: 20px;
      padding-bottom: 40px;
      text-align: center;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid rgba(gray, 0.5);
    }
  }
}

.recover {
  &_footer {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.error-box {
  font-size: 13px;
  padding: 10px 30px;
  margin: 0 20px;
  color: var(--white);
  border-radius: 10px;
  background-color: var(--red);
}