.el-container {
    height: 100%;
}

.el-main {
    margin: 0 !important;
    padding: 7px 0 0 0 !important;
}

.el-header {
    z-index: 100;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.el-aside {
    width: 350px !important;
}

.el-aside {
    overflow-y: hidden;
    @extend .elevation-right;
}

.el-button {
    font-weight: 400;
    color: var(--purple-dark);
}

.el-button--primary {
    border: none;
    color: var(--white);
    background-color: var(--purple-dark);
}