@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root[data-theme="theme-dark"] {
    --purple-light: #6200ee;
    --purple-dark: #4a00b3;
    --purple-text: #883ff1;
    --blue-light: #4940f2;
    --gray-text: #4e4d4d;
    --gray-light: #eaeaea;
    --black-text: #101010;
    --white: #fff;
    --red: #bf334c;
}

:root[data-theme="theme-light"] {
    --purple-light: #6200ee;
    --purple-dark: #4a00b3;
    --purple-text: #883ff1;
    --blue-light: #4940f2;
    --gray-text: #4e4d4d;
    --gray-light: #eaeaea;
    --black-text: #101010;
    --white: #fff;
    --red: #bf334c;
}

* {
    box-sizing: border-box;
}

body, #app {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

#app {
}

.transition {
    transition: 0.3s ease-in-out;
}

.elevation {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.elevation-right {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

$breakpoint-mobile: 1000px;

@import './library-fixes.scss';
@import './app.scss';

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  